body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


.main-header {
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    padding: 20px;
    background-color: #f4f4f4;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px; 
    gap: 50px;
}

.nav-links {
    display: flex;
    flex-direction: column; 
    gap: 10px; 
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}


@media (min-width: 768px) {
    .main-header {
        flex-direction: row; 
        align-items: center; 
    }

    .logo {
        margin-bottom: 0; 
        margin-right: 20px; 
        
    }

    .nav-links {
        flex-direction: row; 
        gap: 15px;
    }

    
    .nav-links a:not(:last-child)::after {
        content: " | ";
        margin-left: 15px;
        color: #333;
    }

     /* Header Done----------------------------*/ 

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.box {
    width: 180px;
    padding: 20px;
    border: 1px solid #ccc;
    text-align: center;
}

.card {
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
}
/* Hero section Done--------------------------*/

.features-grid {
    display: grid;
    gap: 20px;
   
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
}
/* Features section Done------------------------------*/