<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Hub Project</title>
    
    <link href="https://cdn.jsdelivr.net/npm/bootswatch@5.3.3/dist/flatly/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-light">

    
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-4 shadow-sm">
        <div class="container">
            <a class="navbar-brand fw-bold" href="{% url 'dashboard:home' %}">Tech Hub</a>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item"><a class="nav-link" href="{% url 'courses:list' %}">Courses</a></li>
                    
                </ul>
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="{% url 'users:profile' %}">Profile</a></li>
                    <li class="nav-item"><a class="nav-link btn btn-outline-light btn-sm px-3 ms-2" href="{% url 'users:login' %}">Login</a></li>
                </ul>
            </div>
        </div>
    </nav>

    
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>

</body>
</html>